@media only screen and (max-device-width: 450px) {
  button {
    height: 80px;
    font-size: 24px;
    padding-left: 12px;
    padding-right: 12px;
  }

  h2 {
    line-height: 68px;
    font-size: 64px;
  }

  h5 {
    font-size: 36px;
  }

  p {
    font-size: 24px;
  }

  a {
    color: #1e1e1e;
    font-size: 28px;
  }

  p.cards {
    font-size: 24px;
    text-align: center;
    margin-top: 12px;
    max-width: 70%;
  }

  .content-container {
    width: 94%;
    max-width: 94vw;
  }

  .barra-navegacao {
    width: 100%;
    margin-top: 24px;
  }
  .titulo-navegacao {
    font-size: 32px;
  }
  .links-navegacao {
    display: none;
  }

  .section-hero {
    height: 48vh;
  }

  .hero-info-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .hero-info {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }

  .hero-info-image {
    width: 390px;
    height: 290px;
    margin-bottom: 32px;
  }

  .hero-info-title {
    font-size: 56px;
    margin: 0px;
  }

  .hero-info-subtitle {
    font-size: 32px;
    line-height: 36px;
    max-width: 62%;
    margin-top: 16px;
  }

  .hero-info-icones-container {
    width: 60%;
    margin-top: 24px;
  }

  .hero-info-icones-image {
    width: 56px;
    height: 56px;
  }

  .section-abilities {
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }

  .ability-cards-container {
    row-gap: 16px;
    justify-content: flex-start;
    grid-template-columns: auto auto;
    margin-top: 44px;
    width: 100%;
  }

  .ability-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 44vw;
    height: auto;
    padding-top: 16px;
  }

  .section-portfolio-grid {
    row-gap: 36px;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-top: 40px;
  }

  .section-portfolio-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 46vw;
    height: auto;
    padding: 24px 0px;
  }

  .section-portfolio-cards-links {
    width: 35%;
  }

  .section-portfolio-cards-icons-img {
    width: 36px;
    height: auto;
  }
  .section-expiriences-card {
    width: 94%;
    margin-top: 40px;
  }

  .section-contact {
    padding-top: 12px;
    padding-bottom: 64px;
  }

  .section-contact-item {
    margin-top: 12px;
    margin-bottom: 16px;
  }

  .footer-content {
    width: 94%;
  }
}
