@media only screen and (max-device-width: 450px) {
  button {
    height: 64px;
    font-size: 20px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .content-container {
    width: 96%;
    max-width: 96vw;
  }

  .barra-navegacao {
    width: 100%;
    margin-top: 24px;
  }
  .titulo-navegacao {
    font-size: 32px;
  }
  .links-navegacao {
    display: none;
  }

  .section-hero {
    height: auto;
  }

  .hero-info-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .hero-info {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .hero-info-image {
    width: 202px;
    height: 250px;
    margin-bottom: 40px;
  }

  .ability-cards-container {
    row-gap: 36px;
    grid-template-columns: auto;
    margin-top: 12px;
  }

  .section-portfolio-grid {
    row-gap: 36px;
    grid-template-columns: auto;
    margin-top: 24px;
  }

  .section-expiriences-card {
    width: 90vw;
  }

  .footer-content {
    width: 100%;
  }
}
